%h1 Events

%table.table.table-striped
  %thead
    %tr
      %th Event name
      %th Start date
      %th End date
      %th Actions
  %tbody
    - events.each do |event|
      %tr
        %td= event.name
        %td= event.duration.start_date
        %td= event.duration.end_date
        %td
