%h1 Events

%table.table.table-striped
  %thead
    %tr
      %th Event name
      %th Start date
      %th End date
      %th Actions
  %tbody
    - all_events.each do |e|
      %tr
        %td= e.name
        %td= e.start_date
        %td= e.end_date
        %td
          = link_to 'Edit event', edit_event_path(e), class: 'btn btn-xs btn-default'
